/* Root colour variables */
:root {
    --bg-colour: #ECF0F1;
    --txt-color: #2C3E50;
    --accent-color: #E74C3C;
    --secondary-color: #2ECC71;
    --primary-color: #3498DB;
}

body{ 
    background-color: var(--bg-colour);
}

/* Game Area */ 
#gameArea { 
    background-color: blue;
}

#playerArea { 
    background-color: orange;
}

#computerArea { 
    background-color: yellow;
}

.scoreArea { 
    font-weight:bolder;
}

/* modal styles */
#rulesModal {
    overflow-y: auto;
}


/* choiceButton styles */

.buttonSVG {
    height: 50px;
    width: 50px;
}

