/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Root colour variables */
:root {
    --bg-colour: #ECF0F1;
    --txt-color: #2C3E50;
    --accent-color: #E74C3C;
    --secondary-color: #2ECC71;
    --primary-color: #3498DB;
}

/* body styles */
body{ 
    background-color: var(--bg-colour);
    margin: 0;
    padding: 0;
    font-family: Roboto, "Open Sans";
}

.show {
    display: block !important;
}

.hide { 
    display: none;
}

/* Game Area */ 

#playerArea, #computerArea { 
    min-width: 450px;
}

svg{
    width: 100% 
}

.scoreArea { 
    font-weight:bolder;
}

/* navbar styles */
.navbar {
    background-color: var(--primary-color) !important;
}

.navbar-brand {
    letter-spacing: 2px;
}

.btnUsernameSubmit {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    font-weight: 600;
    letter-spacing: 2px;
}

.btnUsernameSubmit:hover {
    background-color: var(--accent-color);
}

.navbar-nav li {
    cursor: pointer;
    letter-spacing: 1px;
}

/* modal styles */
#rulesModal {
    overflow-y: auto;
}

.modal ul, ol {
    list-style: none;
}

.modal-body {
    background-color: var(--bg-colour);
}

.modal-header, .modal-footer {
    background-color: var(--primary-color);
}

.log {
    background-color: var(--secondary-color);
    border-radius: 5px;
    box-shadow: 1px 2px 3px #4a4a4a4a;
}

/* choiceButton styles */

.buttonSVG {
    height: 50px;
    width: 50px;
}

/* video container */
.video-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100%;
    height: 100%;
}

/* footer styles */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

footer ul {
    cursor: pointer;
}

.footerAnchor {
    text-decoration: none;
}

/* Cookie Message styles */
#cookieMsg {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.5s ease;
} 

.showCookieMsg {
    opacity: 1 !important;
    background: #fff !important;
    padding: 20px !important;
    border-radius: 15px !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important;
    text-align: center !important;
    pointer-events: all !important;
}

.cookieButton {
    margin-right: 25px;
    margin-left: 25px;
    border-radius: 5px;
    width: 90px;
    height: 55px;
}

.cookieButton:hover {
    transform: scale(1.1)
}

#cookieButtonAccept {
    background-color: var(--primary-color);
    border-color: #2470a2;
}

#cookieButtonReject {
    background-color: var(--txt-color);
    border-color: #010811;
    color: #fff;
}

@media screen and (max-width:992px  ){
    #gameArea { 
        flex-direction: column;
    }

    #playerArea, #computerArea{ 
        margin-top: 50px;
        min-width: 100%;
    }
}

@media screen and (max-width: 400px){ 
    svg{ 
        width: 100%;
    }
}

@media screen and (max-height: 1253px){ 
    footer{ 
        position: relative;
    }
}